@using HrHarmony.Data.Models.ViewModels.Salary;
@using HrHarmony.Helpers;
@model CreateViewModel

@{
    ViewData["Title"] = "Utwórz wynagrodzenie";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<h2>Utwórz wynagrodzenie</h2>

@using (Html.BeginForm("Create", "Salary", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.PaymentDate)
        @Html.TextBoxFor(model => model.PaymentDate, new { @class = "form-control", @type = "datetime-local" })
        @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeId)
        @Html.RecordsSearchComboBoxFor(nameof(Model.EmployeeId), Model.EmployeeId, Model.EmployeeText, Model.Employees, "Wyszukaj pracownika", controllerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BasicSalary)
        @Html.TextBoxFor(model => model.BasicSalary, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BasicSalary, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdditionalSalary)
        @Html.TextBoxFor(model => model.AdditionalSalary, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AdditionalSalary, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bonuses)
        @Html.TextBoxFor(model => model.Bonuses, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Bonuses, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Allowances)
        @Html.TextBoxFor(model => model.Allowances, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Allowances, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ZUSContributions)
        @Html.TextBoxFor(model => model.ZUSContributions, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ZUSContributions, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IncomeTax)
        @Html.TextBoxFor(model => model.IncomeTax, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IncomeTax, "", new { @class = "text-danger" })
    </div>

    @await Html.PartialAsync("~/Views/Shared/Records/_FormButtons.cshtml")
}

@section Scripts {
    <script src="~/js/searchRelatedRecords.js"></script>
}