@using HrHarmony.Data.Models.ViewModels.Employee;
@model DetailsViewModel

@{
    ViewData["Title"] = "Szczegóły pracownika";
}

@if (Layout != null)
{
    <h2 class="text-center">Szczegóły pracownika</h2>

    @:<div class="table-responsive">
        @:<table class="table table-bordered table-hover">
            @:<thead class="table-dark">
                @await Html.PartialAsync("~/Views/Employee/_Columns.cshtml")
            @:</thead>
            @:<tbody>
}

<tr>
    <td>@Model.FullName</td>
    <td>@Model.Email</td>
    <td>@Model.PhoneNumber</td>
    <td>@Model.DateOfBirth.ToShortDateString()</td>
    <td>@Model.MaritalStatus?.StatusName</td>
    <td>@(Model.Address?.Street + " " + Model.Address?.PostalCode + " " + Model.Address?.City)</td>
    <td>@Model.EducationLevel?.LevelName</td>
    <td>@Model.Experience?.ExperienceDescription</td>

    <td class="d-flex">
        <a class="btn btn-info btn-sm ms-2" asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
        <a class="btn btn-danger btn-sm ms-2" asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
    </td>
</tr>

@if (Layout != null)
{  
            @:</tbody>
        @:</table>
    @:</div>

    @await Html.PartialAsync("~/Views/Shared/Records/_ComeBackButton.cshtml")

    <div class="text-center mt-3 d-flex bd-highlight">
        <button class="btn btn-primary m-1 w-100 me-auto bd-highlight" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseContracts" aria-expanded="false" aria-controls="multiCollapseContracts">Umowy</button>
        <button class="btn btn-primary m-1 w-100 me-auto bd-highlight" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseLeaves" aria-expanded="false" aria-controls="multiCollapseLeaves">Urlopy</button>
        <button class="btn btn-primary m-1 w-100 me-auto bd-highlight" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseAbsences" aria-expanded="false" aria-controls="multiCollapseAbsences">Absencje</button>
        <button class="btn btn-primary m-1 w-100 me-auto bd-highlight" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseSalaries" aria-expanded="false" aria-controls="multiCollapseSalaries">Wynagrodzenia</button>
    </div>
    <div class="row">
        <div class="col">
            <div class="collapse" id="multiCollapseContracts">
                <div class="card card-body">
                    <h2 class="text-center">Szczegóły umów pracownika</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="table-dark">
                                @await Html.PartialAsync("~/Views/EmploymentContract/_Columns.cshtml")
                            </thead>
                            <tbody>
                                @foreach (var contract in Model.Contracts)
                                {
                                    @await Html.PartialAsync("~/Views/EmploymentContract/Details.cshtml", contract)
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse" id="multiCollapseLeaves">
                <div class="card card-body">
                    <h2 class="text-center">Szczegóły urlopów</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="table-dark">
                                @await Html.PartialAsync("~/Views/Leave/_Columns.cshtml")
                            </thead>
                            <tbody>
                                @foreach (var leave in Model.Leaves)
                                {
                                    @await Html.PartialAsync("~/Views/Leave/Details.cshtml", leave)
                                }
                               </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse" id="multiCollapseAbsences">
                <div class="card card-body">
                    <h2 class="text-center">Szczegóły absencyj</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="table-dark">
                                @await Html.PartialAsync("~/Views/Absence/_Columns.cshtml")
                            </thead>
                            <tbody>
                                @foreach (var absence in Model.Absences)
                                {
                                    @await Html.PartialAsync("~/Views/Absence/Details.cshtml", absence)
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse" id="multiCollapseSalaries">
                <div class="card card-body">
                    <h2 class="text-center">Szczegóły wynagrodzeń</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="table-dark">
                                @await Html.PartialAsync("~/Views/Salary/_Columns.cshtml")
                            </thead>
                            <tbody>
                                @foreach (var absence in Model.Salaries)
                                {
                                    @await Html.PartialAsync("~/Views/Salary/Details.cshtml", absence)
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}