@using HrHarmony.Models.ViewModels.Employee;
@using HrHarmony.Models.ViewModels;
@model PagedRecordsViewModel<IndexViewModel>

@{
    ViewData["Title"] = "Pracownicy";
}

<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-4">Lista pracowników</h2>
    <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Dodaj Nowy Rekord</a>
</div>

<div class="row">
    <form method="get">
        <div class="d-flex bd-highlight mb-1">
            <div class="form-group me-auto p-1 bd-highlight">
                <select name="PageSize" id="pageSize" onchange="this.form.submit()">
                    @Model.PageSizeOptions
                </select>
            </div>
            <div class="form-group p-1 bd-highlight">
                <input type="hidden" name="PageNumber" value="@Model.PageNumber">
                <input type="hidden" name="PageSize" value="@Model.PageSize">
                <input type="hidden" name="OrderBy" value="@Model.OrderBy">
                <input type="hidden" name="IsDescending" value="@(Model.IsDescending.ToString())">
                <input type="text" name="SearchString" id="searchInput" placeholder="Szukaj...">
                <button id="searchButton" type="submit">Szukaj</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    <a id="columnHref@("Id")" class="custom-link" data-column-name="Id">
                        ID
                        @(Model.OrderBy == "Id" ? Model.Arrow : "")
                    </a>
                </th>
                <th>
                    <a id="columnHref@("FullName")" class="custom-link" data-column-name="FullName">
                        Full Name
                        @(Model.OrderBy == "FullName" ? Model.Arrow : "")
                    </a>
                </th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-info btn-sm" asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="d-flex bd-highlight mb-1">
        <div class="me-auto p-1 bd-highlight">
            <span class="text-muted">
                Wyświetlono @(Model.ValidPageSize) 
                rekordów z wyników wyszukiwania, spośród @Model.SearchedCount 
                odnalezionych w całkowitej liczbie rekordów: @Model.TotalCount
            </span>
        </div>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <a id="pageHref@(i)" data-page-number="@i" class="btn m-1 p-r-1 p-l-1 bd-highlight @(Model.PageNumber == i ? "btn-secondary disabled" : "btn-primary")">@i</a>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const pageNumber = '@(Model.PageNumber)';
        const pageSize = '@(Model.PageSize)';
        const orderBy = '@(Model.OrderBy)';
        const isDescending = '@(Model.IsDescending)'.toLowerCase();
        const searchValue = '@(Model.SearchString)'.toLowerCase();

        $("#searchInput").val(searchValue);

        $('a[id^="pageHref"]').click(function () {
            const searchVal = $("#searchInput").val();
            const newPageNumber = $(this).data("page-number")
            const queryString = "?PageNumber=" + newPageNumber + "&PageSize=" + pageSize + "&OrderBy=" + orderBy + "&IsDescending=" + isDescending + "&searchString=" + searchVal;
            window.location.href = window.location.pathname + queryString;
        });

        $('a[id^="columnHref"]').click(function () {
            const searchVal = $("#searchInput").val();
            const newOrderBy = $(this).data("column-name")
            const isDesc = (orderBy === newOrderBy ? !(isDescending === "true") : "false");
            const queryString = "?PageNumber=" + pageNumber + "&PageSize=" + pageSize + "&OrderBy=" + newOrderBy + "&IsDescending=" + isDesc + "&searchString=" + searchVal;
            window.location.href = window.location.pathname + queryString;
        });

        // var timeoutId;

        // // Znajdź elementy o identyfikatorach kończących się na określoną wartość
        // var columnSearch = $('[id$="' + searchBy + '"]')[0]; // pętla i wstawianie spowrotem do wielu
        // if (columnSearch) {
        //     $(columnSearch).val(searchString);
        // }
        
        // $(".search-input").on("keypress", function (event) {
        //     if (event.which === 13) {
        //         var input = $(this);
        //         input.prop("disabled", true);
        //         var column = input.data("column");
        //         performSearch(column, input.val());
        //     }
        // });

        // function performSearch(column, value) {
        //     var searchInput = $("#search");
        //     searchInput.prop("disabled", true);
        //     var queryString = "?PageNumber=@Model.PageNumber&PageSize=@Model.PageSize&OrderBy=@Model.OrderBy&IsDescending=@Model.IsDescending" + `&SearchString=${value}&SearchBy=${column}`;
        //     window.location.href = window.location.pathname + queryString;
        // }
    });
</script>




@* 
<div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-4">Lista pracowników</h2>
    <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Dodaj Nowy Rekord</a>
</div>

<div class="row">
    <form method="get">
        <div class="d-flex bd-highlight mb-1">
            <div class="form-group me-auto p-1 bd-highlight">
                <select name="PageSize" id="pageSize" onchange="this.form.submit()">
                    @Model.PageSizeOptions
                </select>
            </div>
            <div class="form-group p-1 bd-highlight">
                <label for="search">Search:</label>
                <input type="text" name="Search" id="search" placeholder="Szukaj..." disabled>
                <button type="submit" disabled>Search</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    <a class="custom-link" href="?PageNumber=@Model.PageNumber&PageSize=@Model.PageSize&OrderBy=Id&IsDescending=@(Model.OrderBy == "Id" && Model.IsDescending ? "false" : "true")">
                        ID
                        @(Model.OrderBy == "Id" ? Model.Arrow : "")
                    </a>
                </th>
                <th>
                    <a class="custom-link" href="?PageNumber=@Model.PageNumber&PageSize=@Model.PageSize&OrderBy=FullName&IsDescending=@(Model.OrderBy == "FullName" && Model.IsDescending ? "false" : "true")">
                        Full Name
                        @(Model.OrderBy == "FullName" ? Model.Arrow : "")
                    </a>
                </th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-info btn-sm" asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="d-flex bd-highlight mb-1">
        <div class="me-auto p-1 bd-highlight">
            <span class="text-muted">Wyświetlone rekordy: @(Model.ValidPageSize) z @Model.TotalCount</span>
        </div>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <a href="?PageNumber=@i&PageSize=@Model.PageSize&OrderBy=@Model.OrderBy&IsDescending=@Model.IsDescending" class="btn m-1 p-r-1 p-l-1 bd-highlight @(Model.PageNumber == i ? "btn-secondary disabled" : "btn-primary")">@i</a>
        }
    </div>
</div>
 *@


@* ===================================== *@
@* 
<div class="container mt-5">
 
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-4">Lista pracowników</h1>
        <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Dodaj Nowy Rekord</a>
    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
            <tr>
                <th>Imię i Nazwisko</th>
                <th>Akcje</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>
                        <a class="btn btn-success btn-sm" asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-info btn-sm" asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
 *@