@using HrHarmony.Models.ViewModels.Absence;
@model DetailsViewModel

@{
    ViewData["Title"] = "Szczegóły absencji";
}

<h2 class="text-center">Szczegóły absencji</h2>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Data absencji</th>
            <th>Typ absencji</th>
            <th>Pracownik</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.AbsenceDate</td>
            <td>@Model.AbsenceType?.TypeName</td>
            <td>@Model.Employee?.FullName</td>
            <td>
                <a class="btn btn-info btn-sm" asp-controller="Absence" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
                <a class="btn btn-danger btn-sm" asp-controller="Absence" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
            </td>
        </tr>
    </tbody>
</table>

@if (Model.IsMainView)
{
    @await Html.PartialAsync("~/Views/Shared/Records/_ComeBackButton.cshtml")
}
